
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-xin:before { content: "\e606"; }
.icon-liebiao:before { content: "\e607"; }
.icon-guanliyuan:before { content: "\e608"; }
.icon-shouye:before { content: "\e609"; }
.icon-sousuo:before { content: "\e60a"; }
.icon-gouwuche:before { content: "\e60b"; }
.icon-renminbi:before { content: "\e600"; }
.icon-duihua:before { content: "\e60c"; }
.icon-jine:before { content: "\e601"; }
.icon-re:before { content: "\e602"; }
.icon-chakan:before { content: "\e605"; }
