<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>消息中心</title>
    <link href="../../css/style.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../js/config.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/common/isscroll.js"></script>
    <script type="text/javascript" src="../../js/message/detail.js"></script>

</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" id="back">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">详情</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>

    <div style="height:120%">
        <div class="content">
            <div style="margin:0.8em; background:#fff; line-height: 1.5em;">
                <!--信息列表-->
                <h3 id="messagetitle" style="font-size:1.3em; padding:0.5em; font-weight: normal; line-height: 1.5em; text-align: center;"></h3>
                <p id="messagetime" style="text-align: right; color:#777; font-size: 0.8em; padding:0.5em; border-bottom: 1px solid #ddd;">

                </p>
                <div id="messageinfo" style="padding:0.8em 0.5em;"></div>
            </div>

        </div>
    </div>


</body>
</html>

