<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>掌创购</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../../css/css.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../css/icon.min.css" />
    <link rel="stylesheet" href="../../../css/iconfont.css" />
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/goods/detail.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">商品详情</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>

    <div class="main" style="overflow-x: hidden">
        <div id="goodspic" class="sjwdqb">

        </div>
        <div class="grcon" id="goodsInfo">

        </div>

    </div>

</body>
</html>

