<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../../../css/icon.min.css" />
    <link href="../../../css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
    <script type="text/javascript" src="../../../js/common/lazyload.js"></script>
    <script type="text/javascript" src="../../../js/order/cart.js"></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">购物车</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>
    <div class="content" id="goodspage">
        <div id="goodslist"></div>
    </div>
	<div id="emptycart" style="display: none; margin-top: 30%;" class="content"><div class="gouwuche"><img src="../../../images/gwc.png"><p>您的购物车还是空的<br/>赶紧行动吧！</p></div></div>    

</body>
</html>

