<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>确认订单</title>
    <link href="../../../css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
    <script type="text/javascript" src="../../../js/order/confirmorder.js"></script>
</head>

<body id="body">
    <div id="header">
        <span class=" tab_mune tab_a t-c" id="back">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">确认订单</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>

    <div id="content" class="bg-f2">

    </div>
    <div id="waitingupload" class="heisebghid">
        <div style="width:100%;position:fixed; text-align:center;top:20%">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <p style="color:#fff;">请稍候...</p>
        </div>
    </div>
</body>
</html>
