

<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：我的/我的订单/外卖订单管理.html -> manage.html
-->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>外卖订单</title>
    <link href="../../../css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/icon.min.css"/>
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/common/lazyload.js"></script>
    <script type="text/javascript" src="../../../js/userinfo.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
    <script type="text/javascript" src="../../../js/common/validate.js"></script>
    <script type="text/javascript" src="../../../js/common/isscroll.js"></script>
    <script type="text/javascript" src="../../../js/order/takeaway.js"></script>
</head>
<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">外卖订单</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>
    <div id="content" class="bg-f2">
        <div id="ordermanagermenu" class="pos-hd-block">
        </div>
        <div id="wrapper" style="top:50px">
            <div id="scroller">
                <div id="pullDown" style="text-align:center;">
                    <!--<span class="pullDownIcon"></span>-->
                    <span class="pullDownLabel">下拉即可刷新</span>
                </div>
                <div id="orderlist"></div>
                <div id="pullUp" style="text-align: center;">
                    <!--<span class="pullUpIcon"></span>-->
                    <span class="pullUpLabel"></span>
                </div>
            </div>
        </div>


    </div>

</body>
</html>
