<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>掌创购</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../../css/css.css" type="text/css" rel="stylesheet" />
    <link href="../../../css/scroll.css" type="text/css" rel="stylesheet"  />
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
    <script type="text/javascript" src="../../../js/common/isscroll.js"></script>
    <script type="text/javascript" src="../../../js/mine/wallet/income.js"></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">收支明细</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>
    <div>
        <div class="qiehuanjl" style="padding-top:60px">
            <ul id="menustab">
                <li class="sbhg" tip="all"><a>全部</a></li>
                <li class="wdlbm" tip="takein"><a>收入</a></li>
                <li tip="payout"><a>支出</a></li>
            </ul>
        </div>
        <div class="con">
            <div id="wrapper">
                <div id="scroller">
                    <div class="wdyqhycon" id="datalist"></div>
                    <div id="pullUp" style="text-align: center;">
                        <span class="pullUpLabel"></span>
                    </div>
                </div>
            </div>      

        </div>

    </div>

</body>
</html>
