<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：我的/便民支付/金融服务.html->financial.html
-->

<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta charset="utf-8">
<title>金融服务</title>

<link href="../../../css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/jquery-2.1.4.min.js" ></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c">
            <div class="back" onclick="back()"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">金融服务</h2>
        </span>
       <span class=" tab_mune tab_a t-c">        
        </span>
    </div>

<div id="content" class="bg-f2"> 
	<!--------------------hd---------------------------------->
	
	
<!------------------------------------------------------------------------------------>

   <div class="item-01-wrap mt10 bottom-line">
   
       <ul class="fina-service ">
	       <li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/icon-29.png" width="83" height="65"/> <span>信用卡申请</span></a></li>
		   <li><a onclick="clicked('loan.html')"><img src="../../../images/icon-30.png" width="83" height="65"/><span>贷款</span></a></li>
		   <li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/icon-31.png" width="83" height="65"/><span>理财产品</span></a></li>

	   </ul>
   
   
   
   
   </div>
	

</div>

</body>
</html>

