
<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：我的/便民支付/便民支付.html -> handypay.html
-->


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta charset="utf-8">
<title>便民支付</title>


<link href="../../../css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/jquery-2.1.4.min.js" ></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">便民支付</h2>
        </span>
       <span class=" tab_mune tab_a t-c">        
        </span>
    </div>


<div id="content" class="bg-f2"> 
	<!--------------------hd---------------------------------->
	
<!------------------------------------------------------------------------------------>

   	<div class="item-01-wrap mt10 bottom-line">
   
	<ul class="user-service ">
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_1.png" width="85" height="85"/> <span>转账</span></a></li>
		<li><a onclick="clicked('mobilecharge.html')"><img src="../../../images/sever_02.png" width="85" height="85"/><span>手机充值</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_03.png" width="85" height="85"/><span>机票</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_04.png" width="85" height="85"/><span>火车票</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_05.png" width="85" height="85"/><span>生活缴费</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_06.png" width="85" height="85"/><span>我的快递</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_07.png" width="85" height="85"/><span>信用卡还贷</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_08.png" width="85" height="85"/><span>交通卡充值</span></a></li>
		<li><a onclick="clicked('../../unfinished.html')"><img src="../../../images/sever_09.png" width="85" height="85"/><span>加油卡充值</span></a></li>
	</ul>   
   	</div>
</div>

</body>
</html>
