<!--
	作者：344805262@qq.com
	时间：2015-06-27
	描述：贷款
-->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>掌创购</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="../../../css/css.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../../../css/icon.min.css"/>
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/userinfo.js"></script>
<script type="text/javascript" src="../../../js/common/validate.js"></script>
<script type="text/javascript" src="../../../js/mine/finance/loan.js" ></script>
</head>

<body>
<div id="header">
    <span class=" tab_mune tab_a t-c" onclick="back()">
        <div class="back"><i class="icon-back"></i></div>
    </span>
    <span class=" tab_mune tab_b">
        <h2 class="hd-tit-h2">贷款</h2>
    </span>
    <span class=" tab_mune tab_a t-c">
    </span>
</div>

<div class="main">
      <div class="grxinxis">
         <div class="xgbdsj">
         	 <p><input type="tel" id="money" placeholder="请输入借贷额度"></p>
         </div>
         <div class="xgbdsj">
         	 <p><input id="name" placeholder="请输入借贷人姓名"></p>
         </div> 
         <div class="xgbdsj">
         	 <p><input id="mobile" placeholder="请输入联系电话"></p>
         </div>
         <div style="width:80%;" class="xgbdsj login-select-wrap">
         	 <p>借贷种类：<select id="type" style="width: 60%; color:#069">
         	 	<option id="0">银行贷款</option>
         	 	<option id="1">组合贷款（银行+P2P）</option>
         	 </select><i class="arrow sign down icon"></i></p>
         </div>         
      </div>
      <div class="dlkuang">
         <p class="dlan"><a id="confirmloan" href="javascript:void(0);">提交</a></p>
      </div>
</div>

</body>
</html>

