<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：自助银行
-->
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta charset="utf-8">
<title>金融服务</title>

<link href="../../../css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/jquery-2.1.4.min.js" ></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">自助银行</h2>
        </span>
		<span class="tab_mune tab_a t-c">
            <a id="btnshare" class="share"><img width="60px" height="60px" src="../../../images/maps.png"></a>
        </span>  
    </div>

<div id="content" class="bg-f2"> 
	<!--------------------hd---------------------------------->
	
	
<!------------------------------------------------------------------------------------>

   <div class="item-01-wrap mt10 bottom-line">
       <ul class="fina-service">
       		<li style="width: 100%;">功能开发中，敬请期待！</li>
	   </ul>
   </div>
	

</div>

</body>
</html>

