<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>霸王餐</title>
    <link href="../../css/css.css" rel="stylesheet" type="text/css" />
    <link href="../../css/scrollbar.css" rel="stylesheet" type="text/css" />
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <script src="../../js/common.js" type="text/javascript"></script>
    <script src="http://appstatic.o2abc.com/js/config.js" type="text/javascript"></script>
    <script src="http://appstatic.o2abc.com/js/merchant/question.js" type="text/javascript"></script>
</head>

<body>

    <div id="header">
        <span class="tab_mune tab_a t-c" id="back">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class="tab_mune tab_b" style="width:50%;">
            <h2 class="hd-tit-h2">问卷</h2>
        </span>
        <span class="tab_mune tab_a t-c" style="width:30%; position: relative;">
            <a id="btnshare" class="share-btn" style="color: #fff;">
                <i class="share icon" style="font-size:2.3em; margin:0; opacity: 1; position: absolute; top:0.7em; right:0.8em"></i>
            </a>
            <a id="btncollect" tip="0"><i class="star empty icon" style="color:#fff; font-size:2.2em; margin:0; opacity: 1; position: absolute; top: 0.7em; right:2.8em"></i></a>
        </span>
    </div>

    <div id="content" class="main" style="margin-bottom:0px">
        <div class="bwwt">
            <p>1. 我们的平台叫什么？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio1" value="1" id="radio10" /></b><label for="radio10">掌创购</label></span><span><b><input type="radio" name="radio1" id="radio11" /></b><label for="radio11">掌上购</label></span></p>
        </div>
        <div class="bwwt">
            <p>2. 金币的用途？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio2" value="1" id="radio20" /></b><label for="radio20">全场抵扣没限制</label></span><span><b><input type="radio" name="radio2" value="0" id="radio21" /></b><label for="radio21">只能兑换相应的礼品</label></span></p>
            <p class="hzi"></p>
        </div>
        <div class="bwwt">
            <p>3. 每日活动公布时间是？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio3" value="0" id="radio30" /></b><label for="radio30">上午8:00和下午16点</label></span><span><b><input type="radio" name="radio3" value="1" id="radio31" /></b><label for="radio31">上午11点和下午16点</label></span></p>
            <p class="hzi"></p>
        </div>
        <div class="bwwt">
            <p>4. 会员消费可获得消费额几倍金币返利？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio4" value="0" id="radio40" /></b><label for="radio40">1倍金币</label></span><span><b><input type="radio" name="radio4" value="1" id="radio41" /></b><label for="radio41">3倍金币</label></span></p>
            <p class="hzi"></p>
        </div>
        <div class="bwwt">
            <p>5. 金币消费可获得多少金币返利？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio5" value="0" id="radio50" /></b><label for="radio50">15%</label></span><span><b><input type="radio" name="radio5" value="1" id="radio51" /></b><label for="radio51">25%</label></span></p>
            <p class="hzi"></p>
        </div>
        <div class="bwwt">
            <p>6. 假设A分享B注册平台会员，可获得B会员消费额的多少分红？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio6" value="0" id="radio60" /></b><label for="radio60">0.5%</label></span><span><b><input type="radio" name="radio6" value="1" id="radio61" /></b><label for="radio61">1%</label></span></p>
            <p class="hzi"></p>
        </div>
        <div class="bwwt">
            <p>7. 金币与人民换算是多少？</p>
            <p class="bwwtxz"><span><b><input type="radio" name="radio7" value="1" id="radio70" /></b><label for="radio70">100金币=1人民币</label></span><span><b><input type="radio" name="radio7" value="0" id="radio71" /></b><label for="radio71">1000金币=1人民币</label></span></p>
            <p class="hzi"></p>
        </div>

        <div class="dlkuang" style="margin-top:4em">
            <p class="dlan"><a id="submit">提交</a></p>
        </div>
    </div>

</body>
</html>
