.mlr-15 {
	margin: 0px 15px;
}
.mt-55 {
	margin-top: 15px;
}
button,
select {
	text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0px;
}
label {
	font-size: 0.875rem;
	color: #4D4D4D;
	cursor: pointer;
	display: block;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0px;
}
.panel.callout.addressnm {
	margin-bottom: 0px;
}
.panel.formstyle {
	padding: 0px;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #CCC;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1) inset;
}
.panel.radius {
	border-radius: 3px;
}
.panel.callout > :first-child {
	margin-top: 0px;
}
.row {
	max-width: none;
}
.row {
	width: 100%;
	margin: 0px auto;
	max-width: 62.5em;
}
.row.collapse > .column,
.row.collapse > .columns {
	padding-left: 0px;
	padding-right: 0px;
}
.large-2 {
	width: 13.6667%;
}
.small-3 {
	width: 25%;
}
.column,
.columns {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	float: left;
}
span.prefix,
label.prefix {
	background: #F2F2F2 none repeat scroll 0% 0%;
	border-right: medium none #CCC;
	color: #333;
	border-color: #CCC;
}
span.prefix,
label.prefix {
	background: transparent none repeat scroll 0% 0%;
	padding: 0.5rem 0px;
	border-style: solid;
	border-color: #DDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0px 1px;
	margin-top: 3px;
}
span.prefix,
label.prefix {
	padding: 5px 0px;
	line-height: 25px;
}
.prefix,
.postfix {
	display: block;
	position: relative;
	z-index: 2;
	text-align: center;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	font-size: 0.875rem;
	height: 2.3125rem;
	line-height: 2.3125rem;
}
[class*="column"] + [class*="column"]:last-child {
	float: right;
}
[class*="column"] + [class*="column"]:last-child {
	position: relative;
}
.large-10 {
	width: 86.3333%;
}
.small-9 {
	width: 75%;
}
.panel input.pl0[type="text"],
.panel input.pl0[type="password"],
.panel input.pl0[type="date"],
.panel input.pl0[type="datetime"],
.panel input.pl0[type="datetime-local"],
.panel input.pl0[type="month"],
.panel input.pl0[type="week"],
.panel input.pl0[type="email"],
.panel input.pl0[type="number"],
.panel input.pl0[type="search"],
.panel input.pl0[type="tel"],
.panel input.pl0[type="time"],
.panel input.pl0[type="url"],
.panel textarea {
	padding-left: 0px;
}
.panel input[type="text"],
.panel input[type="password"],
.panel input[type="date"],
.panel input[type="datetime"],
.panel input[type="datetime-local"],
.panel input[type="month"],
.panel input[type="week"],
.panel input[type="email"],
.panel input[type="number"],
.panel input[type="search"],
.panel input[type="tel"],
.panel input[type="time"],
.panel input[type="url"],
.panel textarea {
	margin-bottom: 0px;
	background: transparent none repeat scroll 0% 0%;
	box-shadow: none;
	margin-top: 3px;
	border-style: solid;
	border-color: #DDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0px 1px;
	font-size: 16px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color: #FFF;
	font-family: inherit;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0px 0px 1rem;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	box-sizing: border-box;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
}
input {
	line-height: normal;
}
.close-input {
	position: absolute;
	right: 10px;
	top: 10px;
	background-position: -109px -81px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.row::before,
.row::after {
	content: " ";
	display: table;
}
.row::after {
	clear: both;
}
.row::before,
.row::after {
	content: " ";
	display: table;
}
.address-label {
	margin: 5px 0px;
}
span.prefix.last {
	border: medium none;
}
.panel select.pl0 {
	padding-left: 0px;
}
.panel select {
	background-color: #FFF;
	border-style: solid !important;
	border-color: #DDD !important;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none !important;
	border-width: 0px 0px 1px !important;
	font-size: 16px;
	margin-top: 3px;
}
select {
	background-color: #FAFAFA !important;
	background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") !important;
	background-repeat: no-repeat !important;
	background-position: 97% center !important;
	border: 1px solid #CCC !important;
	padding: 0.5rem;
	font-size: 0.875rem;
	border-radius: 0px;
	height: 2.3125rem;
}
select {
	background: #FAFAFA none repeat scroll 0% 0%;
}
select {
	width: 100%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}