<!--
    作者：344805262@qq.com
    时间：2015-06-24
    描述：商家/管理商家.html  -> merchants.html 我的代理 - 管理商家
-->


<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta charset="utf-8">
    <title>商家</title>
    <link href="../../../css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../../../js/common.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/userinfo.js"></script>
    <script type="text/javascript" src="../../../js/config.js"></script>
    <script src="../../../js/common/isscroll.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../js/mine/agent/merchants.js"></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">管理商家</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>
    <div id="content" class="bg-f2">

        <div class="pos-hd-block">
            <div class="search-wrap">
                <input type="text" id="searchtext" class=" search-text f-l" placeholder="请输入商家名称" />
                <input type="button" id="btnsearch" class="search-btn f-r" value="搜索" />
            </div>

            <!----------------------------------------------------------------->
            <div class="tab-wrap">
                <table>
                    <tr>
                        <th><a class="fc-org"><em id="agentcount">0</em>家</a></th>
                        <th><a class="fc-org">支付收益：<em id="cashcount">0</em></a></th>
                    </tr>
                </table>
            </div>

        </div>
        <!---------------------------防止遮挡---------------------------------------->
        <div style="margin-top:100px;"></div>
        <div id="wrapper" style="top: 150px">
            <div id="scroller">
                <div id="pullDown" style="text-align:center;">
                    <!--<span class="pullDownIcon"></span>-->
                    <span class="pullDownLabel">下拉即可刷新</span>
                </div>

                <div id="agentlist"></div>
                <div id="pullUp" style="text-align: center;">
                    <!--<span class="pullUpIcon"></span>-->
                    <span class="pullUpLabel"></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

