<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：我的_修改密码.html->editpassword.html
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>掌创购</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link href="../../css/css.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../js/config.js" ></script>
<script type="text/javascript" src="../../js/userinfo.js" ></script>
<script type="text/javascript" src="../../js/common/validate.js" ></script>
<script type="text/javascript" src="../../js/account/editpassword.js" ></script>
</head>

<body>
    <div id="header" style="position: absolute;">
        <span class=" tab_mune tab_a t-c"  onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">修改登录密码</h2>
        </span>
       <span class=" tab_mune tab_a t-c">        
        </span>
    </div>

<div class="main">
      <div class="grxinxis">
         <div class="xgbdsj">
         	 <p ><input type="password" id="password" placeholder="请输入当前密码"></p>
         </div> 
         <div class="xgbdsj">
         	 <p ><input type="password" id="newpassword" placeholder="请输入新密码"></p>
         </div>  
         <div class="xgbdsj">
         	 <p ><input type="password" id="confirmnewpassword" placeholder="确认新密码"></p>
         </div>       
                 
      </div>
      <div class="dlkuang">
         <p class="dlan"><a id="updatepassword">提交</a></p>
         <p class="dlkj">
                <span><a href="javascript:void(0);" onclick="clicked('forgetpassword.html?type=password',false,false,'slide-in-right');">忘记登录密码</a></span>
        </p>         
      </div>
      

</div>

</body>

</html>
