<!--
	作者：344805262@qq.com
	时间：2015-06-12
	描述：修改昵称   我的_修改昵称.html -> editnick.hmtl
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>掌创购</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="../../css/css.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/userinfo.js" ></script>
<script type="text/javascript" src="../../js/account/editnick.js" ></script>
</head>

<body>
    <div id="header">
        <span class=" tab_mune tab_a t-c"  onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 class="hd-tit-h2">修改昵称</h2>
        </span>
       <span class=" tab_mune tab_a t-c">        
        </span>
    </div>

<div class="main">
      <div class="grxinxis">
         <div class="xgbdsj">
         	 <p ><input id="nick" placeholder="请输入新昵称"></p>
         </div>      
                 
      </div>
      <div class="dlkuang">
         <p class="dlan"><a id="editNick">提交</a></p>
      </div>
      

</div>

</body>

</html>
