<!--
    作者：344805262@qq.com
    时间：2015-06-13
    描述：我的_重置密码.html->resetpassword.html 支付密码和登录密码公用
-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="../../css/css.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../js/common/validate.js"></script>
    <script type="text/javascript" src="../../js/config.js"></script>
    <script type="text/javascript" src="../../js/account/forgetpassword.js"></script>

</head>

<body>
    <div id="header" style="position:absolute">
        <span class=" tab_mune tab_a t-c" onclick="back()">
            <div class="back"><i class="icon-back"></i></div>
        </span>
        <span class=" tab_mune tab_b">
            <h2 id="h2_forgetpass" class="hd-tit-h2">忘记密码</h2>
        </span>
        <span class=" tab_mune tab_a t-c">
        </span>
    </div>

    <div id="validateuser" class="main">
        <div class="dengluym">
            <div class="dlnr">
                <p><input id="mobile" type="tel" placeholder="请输入手机号码" value="" class="dlsjh"></p>
                <p class="zcyzm">
                    <b>验证码</b><input type="tel" style="width:100px; height:24px;" id="validatecode" placeholder="请输入验证码" value="">
                    <input id="sendvalidatecode" value="获取验证码" type="button" style="font-weight:bold;height:34px;width:6em;font-size:1.2em;background:#ff6634;color:#fff;border-radius:6px;line-height:normal; border:none; margin-left:5px; margin-top:2px;">
                </p>
            </div>

        </div>
        <div class="dlkuang">
            <p class="dlan"><a id="commit" href="javascript:void(0);">提交</a></p>
        </div>
    </div>

    <input id='hidvalidatecode' type='hidden' value='' />
    <input id='hidvalidatemobile' type='hidden' value='' />
    <input id='hidsid' type='hidden' value='' />

    <div id="reset" class="main" style="display: none;">
        <div class="dengluym">
            <div class="dlnr">
                <p><input id="newpassword" placeholder="请输入新密码" class="dlmm" type="password" value=""></p>
                <p><input id="confimrnewmobile" placeholder="请再次输入新密码" class="dlmm" type="password" value=""></p>
            </div>
        </div>
        <div class="dlkuang">
            <p class="dlan"><a id="resetpassword">提交</a></p>
        </div>
    </div>

</body>
</html>
