<!--
	作者：344805262@qq.com
	时间：2015-06-13
	描述：我的_找回密码.html -> refindpassword.html
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>掌创购</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link href="../../css/css.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/jquery-2.1.4.min.js" ></script>
</head>

<body>

<div id="header">
    <span class=" tab_mune tab_a t-c"  onclick="back()">
        <div class="back"><i class="icon-back"></i></div>
    </span>
    <span class=" tab_mune tab_b">
        <h2 class="hd-tit-h2">找回支付密码</h2>
    </span>
   <span class=" tab_mune tab_a t-c">        
    </span>
</div>

<div class="main">
      <div class="grxinxis">
         <div class="grjsj">
         	 <p><span><a>发送验证码</a></span>180****8320</p>
         </div>  
         <div class="xgbdsj">
         	 <p ><input type="number" placeholder="请输入手机短信中的验证码"></p>
         </div>  
         <div class="xgbdsj">
         	 <p ><input placeholder="请输入新支付密码"></p>
         </div>       
                 
      </div>
      <div class="dlkuang">
         <p class="dlan"><a>提交</a></p>
      </div>
      

</div>

</body>

</html>
